<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="WorkingDirectory" value=".\dat\"/>
    <add key="TemporaryStorage" value=".\tmp\" />
    <add key="DefaultUserName" value="user" />
    <add key="DefaultPassword" value="password" />
    <add key="DefaultDomainName" value="domain" />
    <add key="Guest" value="true" />
  </appSettings>
</configuration>